<footer class="py-4 mt-5" style="background:#111827;color:#d1d5db;">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-4">
        <h5 class="text-white fw-bold">CougarMarket</h5>
        <p class="small mb-0">A campus marketplace for WSU students.</p>
      </div>
      <div class="col-md-4">
        <h6 class="text-white">Marketplace</h6>
        <ul class="list-unstyled small">
          <li><a href="/listings" class="link-light text-decoration-none">Browse Listings</a></li>
          <li><a href="/listings/new" class="link-light text-decoration-none">Post a Listing</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h6 class="text-white">Account</h6>
        <ul class="list-unstyled small">
          <li><a href="/login" class="link-light text-decoration-none">Log in</a></li>
          <li><a href="/register" class="link-light text-decoration-none">Sign up</a></li>
        </ul>
      </div>
    </div>
    <hr class="border-secondary my-3" />
    <p class="small mb-0 text-center">&copy; <%= new Date().getFullYear() %> CougarMarket \u00b7 Go Cougs!</p>
  </div>
</footer>
